In [11]:
import pandas as pd
import os

os.
k = pd.read_csv('mark2.csv')

mark = []
community = []
c_code = []
br_code = []

for i in k['S NO']:
    result = i.split(' ')[-6:]
    mark.append(result[0])
    community.append(result[2])
    c_code.append(result[3])
    br_code.append(result[4])
    
data = pd.DataFrame()
data['mark'] = mark
data['community'] = community
data['branch'] = br_code
data['college code'] = c_code


from bs4 import BeautifulSoup as bs
import requests as r
link = input('Enter the link:')
k = r.get(link)

soup = bs(k.content)

a = []
b = []
c = []
for i in soup.find_all('tr'):
    a.append(i)
for j in a:
    b.append(j.find_all('td'))
for k in b:
    for v in k:
        c.append(v.find_all('p'))
        
tex = []

for vv in c:
    for vvv in vv:
        tex.append(vvv.text)
        
codes = []
total = int(input('No of colleges:'))
total = (total * 4) + 5
st = input('Enter the starting number')
for i in tex[5:total]:
    if i[0] == st:
        codes.append(i)
        
a = 0 
code = codes
for i in data['college code']:
    for j in code:
        if i == j and data['community'][a] == 'BC':
            print(data['mark'][a],'--',data['college code'][a],'--',data['community'][a],'--',data['branch'][a])
    a+=1

Enter the link:https://annauniv.edu/cai/District%20wise/district/Tiruvarur.php
No of colleges:3
Enter the starting number3
123.85 -- 3803 -- BC -- CE
122.5 -- 3803 -- BC -- ME

# Data Cleaning

In [1]:
import pandas as pd
data = pd.read_csv('mark2.csv')
mark=[]

In [4]:
a = 0
for i in data['S NO']:
    a+=1
    if i not in summa:
        mark.append(i)

In [3]:
summa = [
'TAMILNADU ENGINEERING ADMISSIONS (TNEA) - 2021',
'DIRECTORATE OF TECHNICAL DUCATION',
'GENERAL ACADEMIC - ROUND 4 - PROVISIONAL ALLOTMENT LIST',
'S NO APPLICATION ',
'NUMBER',
'NAME OF THE CANDIDATE AGGR ',
'MARK',
'RANK',
'COMMUNI',
'TY',
'COLLEGE ',
'CODE',
'BRANCH ',
'CODE',
'ALLOTTED ', 
'CATEGORY'
]

In [8]:
data

     mark community branch college code
0     127        SC     ME         1317
1     127    MBCDNC     AG         2715
2     127        BC     CS         2606
3     127        BC     CS         2772
4     127    MBCDNC     BC         2769
...   ...       ...    ...          ...
1457  111        BC     CS         2650
1458  111        SC     MU         4949
1459  111      MBCV     CE         2621
1460  111        SC     CS         4675
1461  111    MBCDNC     BM         2767

[1462 rows x 4 columns]