In [1]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
import pandas as pd

In [42]:
df = pd.read_csv('C:/Users/Acer/Desktop/tested.csv')
df = df.drop(['Name','SibSp','Ticket','Cabin'],axis=1)
df = df.dropna()

In [43]:
X = df.drop('Survived',axis=1)
y = df['Survived']

In [44]:
a = {'male':0, 'female':1}
X['Sex'] = X['Sex'].map(a)
a = {'Q':0, 'S':1, 'C':2}
X['Embarked'] = X['Embarked'].map(a)

In [47]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [48]:
nb = GaussianNB()
nb.fit(X_train, y_train)

GaussianNB()

In [49]:
nb.score(X_test,y_test)

1.0

In [50]:
y_pred = nb.predict(X_test)

In [51]:
from sklearn.metrics import accuracy_score

In [52]:
accuracy_score(y_test,y_pred)

1.0

In [58]:
k = nb.predict_proba(X_test)
k[:5]

array([[0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.]])

In [59]:
X_test[:5]

     PassengerId  Pclass  Sex   Age  Parch     Fare  Embarked
283         1175       3    1   9.0      1  15.2458         2
161         1053       3    0   7.0      1  15.2458         2
175         1067       2    1  15.0      2  39.0000         1
404         1296       1    0  43.0      0  27.7208         2
57           949       3    0  25.0      0   7.6500         1

In [60]:
y_test[:5]

283    1
161    0
175    1
404    0
57     0
Name: Survived, dtype: int64